@import url('alerta.css');
@import url('botón.css');
@import url('tarjeta.css');
@import url('footer.css');
@import url('formulario.css');
@import url('Lista.css');
@import url('interfaz_Emergente.css');
@import url('navegacion.css');
@import url('Tarjeta-de-Productos.css');
@import url('Tablas.css');



* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-principal: #3498db;
    --color-secundario: #2ecc71;
    --color-fondo: #ecf0f1;
    --color-texto: #000000;
    --tamaño-fuente: 16px;
    --tamaño-grande: 20px;
    --tamaño-pequeño: 12px;
    --sombra: 0 2px 5px rgba(0, 0, 0, 0.1);
    --borde-radius: 9px;
}